<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div>
    <h3>BẢNG ĐIỂM DANH NGÀY : {{ data_person_images[2] }}</h3>
    Sáng
    <table class="table">
        <tr>
            <th>STT</th>
            <th>MSNV</th>
            <th>Họ và tên</th>
            <th>Giờ Check In</th>
            <th>Hình Check In</th>
            <th>Trạng Thái Check In</th>
            <th>Giờ Check Out</th>
            <th>Hình Check OUT</th>
            <th>Trạng Thái Check Out</th>
        </tr>
        {% for row in data_person_images[0] %}
            <tr>
                <td>{{ loop.index + 1 }}</td>
                <td>{{ row.ID_NUMBER_PERSON }}</td>
                <td>{% if row.MIDDLE_NAME == None %}
                        {{ row.LAST_NAME }} {{ row.FIRST_NAME }}
                    {% else %}
                        {{ row.LAST_NAME }} {{ row.MIDDLE_NAME }} {{ row.FIRST_NAME }}
                    {% endif %}
                </td>

                <td>{% if row.TIME_CHECK_IN != None %}
                        {{ row.TIME_CHECK_IN }}
                    {% endif %}
                </td>
                <td><img src="data:image/PNG;base64,{{ row.IMAGE_CHECK_IN | safe }}" class="img-thumbnail" alt="..." style="width: 50px; height: 50px"></td>
                <td>{{ row.STATUS_CHECK_IN }}

                </td>

                <td>{% if row.TIME_CHECK_OUT != None %}
                        {{ row.TIME_CHECK_OUT }}
                    {% endif %}
                </td>
                <td><img src="data:image/PNG;base64,{{ row.IMAGE_CHECK_OUT | safe }}" class="img-thumbnail" alt="..." style="width: 50px; height: 50px"></td>
                <td>{{ row.STATUS_CHECK_OUT }}</td>
            </tr>

        {% endfor %}
    </table>
    Chiều
    <table class="table">
        <tr>
            <th>STT</th>
            <th>MSNV</th>
            <th>Họ và tên</th>
            <th>Giờ Check In</th>
            <th>Hình Check In</th>
            <th>Trạng Thái Check In</th>
            <th>Giờ Check Out</th>
            <th>Hình Check OUT</th>
            <th>Trạng Thái Check Out</th>
        </tr>
        {% for row in data_person_images[1] %}
            <tr>
                <td>{{ loop.index + 1 }}</td>
                <td>{{ row.ID_NUMBER_PERSON }}</td>
                <td>{% if row.MIDDLE_NAME == None %}
                        {{ row.LAST_NAME }} {{ row.FIRST_NAME }}
                    {% else %}
                        {{ row.LAST_NAME }} {{ row.MIDDLE_NAME }} {{ row.FIRST_NAME }}
                    {% endif %}
                </td>

                <td>{% if row.TIME_CHECK_IN != None %}
                        {{ row.TIME_CHECK_IN }}
                    {% endif %}
                </td>

                <td><img src="data:image/PNG;base64,{{ row.IMAGE_CHECK_IN | safe }}" class="img-thumbnail" alt="..." style="width: 50px; height: 50px"></td>
                <td>{{ row.STATUS_CHECK_IN }}</td>

                <td>{% if row.TIME_CHECK_OUT != None %}
                        {{ row.TIME_CHECK_OUT }}
                    {% endif %}
                </td>
                <td><img src="data:image/PNG;base64,{{ row.IMAGE_CHECK_OUT | safe }}" class="img-thumbnail" alt="..." style="width: 50px; height: 50px"></td>
                <td>{{ row.STATUS_CHECK_OUT }}</td>
            </tr>

        {% endfor %}
    </table>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
<script
  src="https://code.jquery.com/jquery-3.6.0.js"
  integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
  crossorigin="anonymous"></script>
</html>