<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Danh sách điểm danh</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="{{ url_for('static', filename='css/attendaces.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body class="bg-light">

{% include "header.html" %}

<div class="container my-4">
    <div class="card p-3">
        <h3 class="p-3">BẢNG ĐIỂM DANH NGÀY : {{ data_person_images[2] }}</h3>

        <div class="accordion" id="dsdd-accordion">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button {% if paging_data.tab == 'sa' %}{% else %}collapsed{% endif %}"
                            type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                            aria-expanded="{% if paging_data.tab == 'sa' %}true{% else %}false{% endif %}" aria-controls="collapseOne" data-id="sa">
                        Danh sách điểm danh buổi sáng
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse {% if paging_data.tab == 'sa' %}show{% else %}{% endif %}" aria-labelledby="headingOne"
                     data-bs-parent="#dsdd-accordion">
                    <div class="accordion-body table-wrapper">
                        <table class="table table-striped">
                            <tr>
                                <th>STT</th>
                                <th>MSNV</th>
                                <th>Họ và tên</th>
                                <th>Giờ Check In</th>
                                <th>Hình Check In</th>
                                <th>Trạng Thái Check In</th>
                                <th>Giờ Check Out</th>
                                <th>Hình Check OUT</th>
                                <th>Trạng Thái Check Out</th>
                            </tr>
                            {% for row in data_person_images[0] %}
                                <tr>
                                    <td>{{ (paging_data.page-1)*paging_data.limit + loop.index }}</td>
                                    <td>{{ row.ID_NUMBER_PERSON }}</td>
                                    <td>{% if row.MIDDLE_NAME == None %}
                                        {{ row.LAST_NAME }} {{ row.FIRST_NAME }}
                                    {% else %}
                                        {{ row.LAST_NAME }} {{ row.MIDDLE_NAME }} {{ row.FIRST_NAME }}
                                    {% endif %}
                                    </td>

                                    <td>{{ row.TIME_CHECK_IN }}</td>
                                    <td><img src="data:image/PNG;base64,{{ row.IMAGE_CHECK_IN | safe }}"
                                             class="img-thumbnail" alt="..."
                                             style="width: 50px; height: 50px"></td>
                                    <td>{{ row.STATUS_CHECK_IN }}</td>

                                    <td>{{ row.TIME_CHECK_OUT }}</td>
                                    <td><img src="data:image/PNG;base64,{{ row.IMAGE_CHECK_OUT | safe }}"
                                             class="img-thumbnail" alt="..."
                                             style="width: 50px; height: 50px"></td>
                                    <td>{{ row.STATUS_CHECK_OUT }}</td>
                                </tr>

                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button {% if paging_data.tab == 'ch' %}{% else %}collapsed{% endif %}"
                            type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                            aria-expanded="{% if paging_data.tab == 'ch' %}true{% else %}false{% endif %}" aria-controls="collapseTwo" data-id="ch">
                        Danh sách điểm danh buổi chiều
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse {% if paging_data.tab == 'ch' %}show{% else %}{% endif %}" aria-labelledby="headingTwo"
                     data-bs-parent="#dsdd-accordion">
                    <div class="accordion-body table-wrapper">
                        <table class="table table-striped">
                            <tr>
                                <th>STT</th>
                                <th>MSNV</th>
                                <th>Họ và tên</th>
                                <th>Giờ Check In</th>
                                <th>Hình Check In</th>
                                <th>Trạng Thái Check In</th>
                                <th>Giờ Check Out</th>
                                <th>Hình Check OUT</th>
                                <th>Trạng Thái Check Out</th>
                            </tr>
                            {% for row in data_person_images[1] %}
                                <tr>
                                    <td>{{ (paging_data.page - 1)*paging_data.limit + loop.index }}</td>
                                    <td>{{ row.ID_NUMBER_PERSON }}</td>
                                    <td>{% if row.MIDDLE_NAME == None %}
                                        {{ row.LAST_NAME }} {{ row.FIRST_NAME }}
                                    {% else %}
                                        {{ row.LAST_NAME }} {{ row.MIDDLE_NAME }} {{ row.FIRST_NAME }}
                                    {% endif %}
                                    </td>

                                    <td>{{ row.TIME_CHECK_IN }}</td>
                                    <td><img src="data:image/PNG;base64,{{ row.IMAGE_CHECK_IN | safe }}"
                                             class="img-thumbnail" alt="..."
                                             style="width: 50px; height: 50px"></td>
                                    <td>{{ row.STATUS_CHECK_IN }}</td>

                                    <td>{{ row.TIME_CHECK_OUT }}</td>
                                    <td><img src="data:image/PNG;base64,{{ row.IMAGE_CHECK_OUT | safe }}"
                                             class="img-thumbnail" alt="..."
                                             style="width: 50px; height: 50px"></td>
                                    <td>{{ row.STATUS_CHECK_OUT }}</td>
                                </tr>

                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>

        </div>

        <div class="d-flex justify-content-between mt-2" style="height: 38px;">
            <div class="d-flex justify-content-start align-items-center">
                Trang {{ paging_data.page }}/{{ paging_data.total_page }}
            </div>
            <div class="d-flex justify-content-end">
                <select class="form-select form-select-sm row-per-page"
                        aria-label="Default select example">
                    {% for row in range(10, 51, 10) %}
                        <option value="{{ row }}"
                                {% if paging_data.limit == row %}selected{% else %}{% endif %}>{{ row }}</option>
                    {% endfor %}
                </select>

                <nav aria-label="Page navigation example">
                    <ul class="pagination">

                        <li class="page-item {% if paging_data.page-1 < 1 %}disabled{% else %}{% endif %}">
                            <a class="page-link btn-prev" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>

                        <li class="page-item disabled"><a class="page-link"
                                                          href="#">{{ paging_data.page }}</a></li>

                        <li class="page-item {% if paging_data.page + 1 > paging_data.total_page %}disabled{% else %}{% endif %}">
                            <a class="page-link btn-next" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>

                    </ul>
                </nav>
            </div>


        </div>
    </div>

</div>

{#<div>#}
{#    <h3>BẢNG ĐIỂM DANH NGÀY : {{ data_person_images[2] }}</h3>#}
{#    Sáng#}
{#    <table class="table">#}
{#        <tr>#}
{#            <th>STT</th>#}
{#            <th>MSNV</th>#}
{#            <th>Họ và tên</th>#}
{#            <th>Giờ Check In</th>#}
{#            <th>Hình Check In</th>#}
{#            <th>Trạng Thái Check In</th>#}
{#            <th>Giờ Check Out</th>#}
{#            <th>Hình Check OUT</th>#}
{#            <th>Trạng Thái Check Out</th>#}
{#        </tr>#}
{#        {% for row in data_person_images[0] %}#}
{#            <tr>#}
{#                <td>{{ loop.index + 1 }}</td>#}
{#                <td>{{ row.ID_NUMBER_PERSON }}</td>#}
{#                <td>{% if row.MIDDLE_NAME == None %}#}
{#                    {{ row.LAST_NAME }} {{ row.FIRST_NAME }}#}
{#                {% else %}#}
{#                    {{ row.LAST_NAME }} {{ row.MIDDLE_NAME }} {{ row.FIRST_NAME }}#}
{#                {% endif %}#}
{#                </td>#}
{##}
{#                <td>{{ row.TIME_CHECK_IN }}</td>#}
{#                <td><img src="data:image/PNG;base64,{{ row.IMAGE_CHECK_IN | safe }}" class="img-thumbnail" alt="..."#}
{#                         style="width: 50px; height: 50px"></td>#}
{#                <td>{{ row.STATUS_CHECK_IN }}</td>#}
{##}
{#                <td>{{ row.TIME_CHECK_OUT }}</td>#}
{#                <td><img src="data:image/PNG;base64,{{ row.IMAGE_CHECK_OUT | safe }}" class="img-thumbnail" alt="..."#}
{#                         style="width: 50px; height: 50px"></td>#}
{#                <td>{{ row.STATUS_CHECK_OUT }}</td>#}
{#            </tr>#}
{##}
{#        {% endfor %}#}
{#    </table>#}
{#    Chiều#}
{#    <table class="table">#}
{#        <tr>#}
{#            <th>STT</th>#}
{#            <th>MSNV</th>#}
{#            <th>Họ và tên</th>#}
{#            <th>Giờ Check In</th>#}
{#            <th>Hình Check In</th>#}
{#            <th>Trạng Thái Check In</th>#}
{#            <th>Giờ Check Out</th>#}
{#            <th>Hình Check OUT</th>#}
{#            <th>Trạng Thái Check Out</th>#}
{#        </tr>#}
{#        {% for row in data_person_images[1] %}#}
{#            <tr>#}
{#                <td>{{ loop.index + 1 }}</td>#}
{#                <td>{{ row.ID_NUMBER_PERSON }}</td>#}
{#                <td>{% if row.MIDDLE_NAME == None %}#}
{#                    {{ row.LAST_NAME }} {{ row.FIRST_NAME }}#}
{#                {% else %}#}
{#                    {{ row.LAST_NAME }} {{ row.MIDDLE_NAME }} {{ row.FIRST_NAME }}#}
{#                {% endif %}#}
{#                </td>#}
{##}
{#                <td>{{ row.TIME_CHECK_IN }}</td>#}
{#                <td><img src="data:image/PNG;base64,{{ row.IMAGE_CHECK_IN | safe }}" class="img-thumbnail" alt="..."#}
{#                         style="width: 50px; height: 50px"></td>#}
{#                <td>{{ row.STATUS_CHECK_IN }}</td>#}
{##}
{#                <td>{{ row.TIME_CHECK_OUT }}</td>#}
{#                <td><img src="data:image/PNG;base64,{{ row.IMAGE_CHECK_OUT | safe }}" class="img-thumbnail" alt="..."#}
{#                         style="width: 50px; height: 50px"></td>#}
{#                <td>{{ row.STATUS_CHECK_OUT }}</td>#}
{#            </tr>#}
{##}
{#        {% endfor %}#}
{#    </table>#}
{#    {{ data_person_images }}#}
{#</div>#}
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>
<script
        src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
        crossorigin="anonymous"></script>
<script>
    $(function () {

        $('.btn-prev').click(function (event) {
            event.preventDefault();
            let page_limit = $('select.row-per-page').val();
            let activeId = $('button.accordion-button').not(".collapsed").data('id');
            window.location.href = `/danhsachdiemdanh?tab=${activeId}&page={{ paging_data.page-1 }}&limit=${page_limit}`;
        })

        $('.btn-next').click(function (event) {
            event.preventDefault();
            let page_limit = $('select.row-per-page').val();
            let activeId = $('button.accordion-button').not(".collapsed").data('id');
            window.location.href = `/danhsachdiemdanh?tab=${activeId}&page={{ paging_data.page+1 }}&limit=${page_limit}`;
        })

        $('select.row-per-page').change(function () {
            let page_limit = $(this).val();
            let activeId = $('button.accordion-button').not(".collapsed").data('id');
            window.location.href = `/danhsachdiemdanh?tab=${activeId}&page=1&limit=${page_limit}`;
        })

    })
</script>
</html>